@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');
* {
  padding: 0;
  margin: 0;
  font-family: "Nova Square"; 
  border-color: #D0DC48;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
                
          
}

body {
  height: 100vh;
  background-image: url(../img/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: #BEB624;
 
 }
 
.logo {
  width: 80px;
  height: 80px;
}
.navbg{
  margin-top: 30px;
  display: flex;
  
}
.formlog{
  display: flex;
  align-items: center;
  justify-content: center;
}


body .login {
color: black; 
display: inline-block;
position: relative;
  -webkit-box-align: center;
  -ms-flex-align: center;
    align-items: center;    

}

body .login .container {
  width: 535px;
  height: 540px;
  border-radius: 18px;
  border: none;
  margin-top: auto;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .login .cont {
  margin: auto;
}

body .login .cont #STORE {
  margin-bottom: 68px;
  text-align: center;
  font-size: 20px;
  font-family: 'Montserrat';
}

body .login .title-nm {
  color: white;
  margin-bottom: 10px;
  font-weight: 600;
}

body .login .E-input {
  margin-top: 30px;
  
}

body .login .E-input input {
  background-color: transparent;
  border-width: 2px;  outline: none;
  border-color: #D0DC48;
  width: 408px;
  padding: 20px 10px;
  color: #c4c4c4;
  font-family: 'poppins';
}

body .login .E-input input::-webkit-input-placeholder {
  color: #c4c4c4;
}

body .login .E-input input:-ms-input-placeholder {
  color: #c4c4c4;
}

body .login .E-input input::-ms-input-placeholder {
  color: #c4c4c4;
}

body .login .E-input input::placeholder {
  color: #c4c4c4;
}

body .login .E-input .message {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: scale(0);
          transform: scale(0);
  color: rgba(206, 75, 75, 0.842);
  font-size: 14px;
  font-family: 'Montserrat'; 
  margin-top: 2px;
}

body .login #submit-button-box {
  text-align: center;
}

body .login #submit-button-box button {
  cursor: pointer;
  outline: none;
  color: #f9f8f9;
  font-family: 'Montserrat'; 
  background-color: #BEB624;
  width: 169px;
  height: 40px;
  border: none;
  margin-top: 37px;
  font-weight: bold;
  border-radius: 3px;
}

@media only screen and (max-width: 680px) {
  body {
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
   
            color: #BEB624;
    background-color: #0d0d0d;
  }
  .navbg{
   
    height: 20px;
    width: 20px;
    
  }
  .formlog{
   flex-direction: column;
  }
  body .login {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: inline-block;
    position: relative;

  }
  body .login .container {
    width: 400px;
    height: 540px;
    border-radius: 18px;
    border: none;
    margin-top: auto;
    margin-left: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  body .login .cont {
    margin: auto;
  }
  body .login .cont #STORE {
    margin-bottom: 68px;
    text-align: center;
    color: #000;  
    font-size: 20px;
  }
  body .login .title-nm {
    color: white;
    margin-bottom: 10px;
    font-weight: 600;
  }
  body .login .E-input {
    margin-top: 30px;
  }
  body .login .E-input input {
    background-color: transparent;
    outline: none;
    border-color:#BEB624;
    width: 99%;
    padding: 20px 30px;
    color: #f9f8f9;
  }
  body .login .E-input input::-webkit-input-placeholder {
    color: #f9f8f9;
  }
  body .login .E-input input:-ms-input-placeholder {
    color: #f9f8f9;
  }
  body .login .E-input input::-ms-input-placeholder {
    color: #f9f8f9;
  }
  body .login .E-input input::placeholder {
    color: #f9f8f9;
  }
  body .login #submit-button-box {
    text-align: center;
  }
  body .login #submit-button-box button {
    color: #f9f8f9;
    background-color: #BEB624;
    width: 169px;
    height: 40px;
    border: none;
    margin-top: 37px;
    font-weight: bold;
    border-radius: 3px;
  }
}
/*# sourceMappingURL=login.css.map */